* {
    font-family:Impact;
    background-color: blanchedalmond;
}

li, a, p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}

img {
    width: 350px;
    height:auto;
    border-color:black;
    border-width: thick;
    border-style:solid;
}